#root {
  margin: 50px auto;
  width: 400px;
  font-size: 18px;
  font-family: Geneva, Tahoma, sans-serif;
}

.add-label {
  display: block;
  font-weight: bold;
}

#newtodo {
  border-radius: 4px;
  border: 1px solid cadetblue;
  height: 35px;
  line-height: 35px;
  width: 100%;
  font-size: 18px;
}

.todo-list {
  list-style: none;
  margin: 30px 0 0;
  padding: 0;
}

.todo-item {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo-name {
  display: inline-block;
  margin-left: 10px;
}

.todo-name.done {
  text-decoration: line-through;
}

.todo-delete {
  background-color: crimson;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
